.navbar-atelier-meca{
    margin-bottom: 20px;
}

.container{
    padding-bottom: 80px !important;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #e7e7e7;
}

i.icon-white {
    color: white;
}

.top-buffer { 
    margin-top:20px; 
}

.left-buffer { 
    margin-left:20px; 
}
